
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.pickle
*.pt
*.pth


venv/
env/
.venv/
ENV/


.ipynb_checkpoints/


*.log
logs/


.DS_Store
Thumbs.db


.cache/
*.egg-info/
dist/
build/


lightning_logs/


.vscode/


*.tar
docker-data/

.env

vehicle_data/

